name: Emulator-CI

on:
  push:
    paths:
      - 'emulator/**'

jobs:
  Emulator:
    runs-on: ubuntu-latest

    steps:
    - name: Clone Scalardl-tool repository
      uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build Emulator
      run: |
        cd emulator
        ./gradlew assemble

    - name: Test Emulator
      run: |
        cd emulator
        ./gradlew test
